<app-labels>
  <code>.button</code> styles can be applied to other elements, such as
  <code>&lt;label&gt;</code>s, to provide checkbox or radio style button
  toggling. Add <code>data-toggle="buttons"</code> to a
  <code>.btn-group</code> containing those modified buttons to enable their
  toggling behavior via JavaScript and add <code>.btn-group-toggle</code> to
  style the <code>&lt;input&gt;</code>s within your buttons.
  <strong
    >Note that you can create single input-powered buttons or groups of
    them.</strong
  >
</app-labels>
