<div class="form-group {{ class }} {{ layout == 'horizontal' ? 'row' : '' }}">
  @if(type === 'file'){
  <label
    class="form-label {{
      layout == 'horizontal'
        ? 'col-sm-3 col-form-label text-left text-sm-right'
        : ''
    }} "
    [for]="name"
    >{{ label }}</label
  >
  <div class="custom-file {{ layout == 'horizontal' ? 'col-lg-9' : '' }}">
    <input
      type="file"
      class="custom-file-input {{ inputClass }}"
      name="{{ name }}"
      value="{{ value }}"
      required="{{ required }}"
      (change)="changeValue($event)"
      (keyup)="changeValue($event)"
      [id]="name"
    />
    <label class="custom-file-label" for="customFile">{{
      placeholder || "Choose File"
    }}</label>
  </div>
  <span class="help-block">
    {{ infoText }}
  </span>
  } @else{
  <label
    class="form-label {{
      layout == 'horizontal'
        ? 'col-sm-3 col-form-label text-left text-sm-right'
        : ''
    }}"
    [for]="name"
    >{{ label }}</label
  >
  <input
    type="{{ type }}"
    name="{{ name }}"
    placeholder="{{ placeholder }}"
    value="{{ value }}"
    required="{{ required }}"
    (change)="changeValue($event)"
    (keyup)="changeValue($event)"
    [id]="name"
    class="{{ inputClassName }} 
    {{ layout == 'horizontal' ? 'col-lg-9' : '' }}
    {{ inputClass }}
    "
    [readOnly]="readonly"
    [disabled]="disabled"
  />
  <span class="help-block">
    {{ infoText }}
  </span>
  }
</div>
