<div
  class="modal modal-alert fade {{ open ? 'show' : '' }}"
  id="example-modal-alert"
  tabindex="-1"
  role="dialog"
  aria-modal="true"
  style="
    padding-right: 19px;
    background: rgba(40, 40, 40, 0.5);
    display: block;
    backdrop-filter: blur(1px);
  "
  [ngStyle]="{ display: open ? 'block' : 'none' }"
  (click)="onCloseModalAlert($event)"
>
  <div
    (click)="preventBubbling($event)"
    class="modal-dialog modal-dialog-centered"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ title }}</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="onCloseModalAlert($event)"
        >
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        @if(description !== 'description' || !description){
        {{ description }}
        }@else{
        <ng-content></ng-content>
        }
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary waves-effect waves-themed"
          data-dismiss="modal"
          (click)="onCloseModalAlert($event)"
        >
          Close
        </button>
        <button
          (click)="onSaveClick()"
          type="button"
          class="btn btn-primary waves-effect waves-themed"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
